<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            General
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-list>
        <ion-item>
            <ion-label>Sexo</ion-label>
            <ion-select class="floating" (ionChange)="getCreatinineDebug()" interface="popover" cancelText="Cancelar" [(ngModel)]="contextModel.sexType">
                <ion-select-option value="M">Masculino</ion-select-option>
                <ion-select-option value="F">Femenino</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Edad (Años)</ion-label>
            <!-- (ionInput)="getMax()" -->
            <ion-input type="tel" (change)="getCreatinineDebug()" class="floating" [(ngModel)]="contextModel.yearsOld" maxlength="3"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Peso (kg)</ion-label>
            <ion-input type="tel" (change)="getCreatinineDebug()" class="floating" [(ngModel)]="contextModel.weight" maxlength="5"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Creatinina (mg/dL)</ion-label>
            <ion-input type="tel" (change)="getCreatinineDebug()" class="floating" [(ngModel)]="contextModel.creatinina" maxlength="5"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Alergia penicilina</ion-label>
            <ion-toggle checked="false" [(ngModel)]="contextModel.alergiaPenicilina"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Hemodialisis</ion-label>
            <ion-toggle checked="false" [(ngModel)]="contextModel.hemodialisis"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>CAPD</ion-label>
            <ion-toggle checked="false" [(ngModel)]="contextModel.capd"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>CRRT</ion-label>
            <ion-toggle checked="false" [(ngModel)]="contextModel.crrt"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Ubicación infección</ion-label>
            <ion-button class="floating" color="select" (click)="presentModal()">{{contextModel.name}}</ion-button>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Depuración creatinina (mL/min)</ion-label>
            <ion-input class="floating" (change)="getCreatinineDebug()" [(ngModel)]="contextModel.depuracionCreatinina" readonly></ion-input>
        </ion-item>
    </ion-list>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button (click)="continue()" expand="block" color="vibrant">Continuar</ion-button>
            </ion-col>

        </ion-row>
    </ion-grid>

</ion-content>