ion-content {
    --ion-background-color: rgb(241, 238, 246);
}

.ion-color-vibrant {
    --ion-color-base: #61abe6;
    --ion-color-base-rgb: rgb(97, 171, 230);
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: rgb(97, 171, 230);
    --ion-color-shade: #f2863f;
    --ion-color-tint: #f2863f;
}

.ion-color-select {
    --ion-color-base: #f2863f;
    --ion-color-base-rgb: rgb(97, 171, 230);
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: rgb(97, 171, 230);
    --ion-color-shade: #f2863f;
    --ion-color-tint: #f2863f;
}

.item-input-has-focus .label-md[floating],
.input-has-focus .label-md[floating] {
    color: black; //label color when focusing
}

.item-input .label-md {
    color: black; //label color
}

.item-input .label-md {
    color: red; //label color
}

.floating {
    color: blue !important;
}