<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Contáctenos</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-text-justify" padding>
        Comuníquese con nosotros:

        <br/><br/>Si tienes alguna duda, comentario o problema con la aplicación puedes comunicarte con nosotros al correo:

        <br/><br/>
        <div class="emailcss">apptibiograma@fai.org.co</div>
    </div>
</ion-content>