<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            General
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-list>
        <ion-item>
            <ion-label>Sexo</ion-label>
            <ion-select interface="action-sheet" cancelText="Cancelar">
                <ion-select-option value="Masculino">Masculino</ion-select-option>
                <ion-select-option value="Femenino">Femenino</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Edad</ion-label>
            <ion-select value="Masculino" interface="action-sheet" cancelText="Cancelar">
                <ion-select-option value="1">0</ion-select-option>
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>
                <ion-select-option value="3">3</ion-select-option>
                <ion-select-option value="4">4</ion-select-option>
                <ion-select-option value="5">5</ion-select-option>
                <ion-select-option value="6">6</ion-select-option>
                <ion-select-option value="7">7</ion-select-option>
                <ion-select-option value="8">8</ion-select-option>
                <ion-select-option value="9">9</ion-select-option>
                <ion-select-option value="10">10</ion-select-option>
                <ion-select-option value="11">11</ion-select-option>
                <ion-select-option value="12">12</ion-select-option>
                <ion-select-option value="13">13</ion-select-option>
                <ion-select-option value="14">14</ion-select-option>
                <ion-select-option value="15">15</ion-select-option>
                <ion-select-option value="16">16</ion-select-option>
                <ion-select-option value="17">17</ion-select-option>
                <ion-select-option value="18">18</ion-select-option>
                <ion-select-option value="19">19</ion-select-option>
                <ion-select-option value="20">20</ion-select-option>
                <ion-select-option value="21">21</ion-select-option>
                <ion-select-option value="22">22</ion-select-option>
                <ion-select-option value="23">23</ion-select-option>
                <ion-select-option value="24">24</ion-select-option>
                <ion-select-option value="25">25</ion-select-option>
                <ion-select-option value="26">26</ion-select-option>
                <ion-select-option value="27">27</ion-select-option>
                <ion-select-option value="28">28</ion-select-option>
                <ion-select-option value="29">29</ion-select-option>
                <ion-select-option value="30">30</ion-select-option>
                <ion-select-option value="31">31</ion-select-option>
                <ion-select-option value="32">32</ion-select-option>
                <ion-select-option value="33">33</ion-select-option>
                <ion-select-option value="34">34</ion-select-option>
                <ion-select-option value="35">35</ion-select-option>
                <ion-select-option value="36">36</ion-select-option>
                <ion-select-option value="37">37</ion-select-option>
                <ion-select-option value="38">38</ion-select-option>
                <ion-select-option value="39">35</ion-select-option>
                <ion-select-option value="40">40</ion-select-option>
                <ion-select-option value="41">41</ion-select-option>
                <ion-select-option value="42">42</ion-select-option>
                <ion-select-option value="43">43</ion-select-option>
                <ion-select-option value="44">44</ion-select-option>
                <ion-select-option value="45">45</ion-select-option>
                <ion-select-option value="46">46</ion-select-option>
                <ion-select-option value="47">47</ion-select-option>
                <ion-select-option value="48">48</ion-select-option>
                <ion-select-option value="49">45</ion-select-option>
                <ion-select-option value="50">50</ion-select-option>
                <ion-select-option value="51">51</ion-select-option>
                <ion-select-option value="52">52</ion-select-option>
                <ion-select-option value="53">53</ion-select-option>
                <ion-select-option value="54">54</ion-select-option>
                <ion-select-option value="55">55</ion-select-option>
                <ion-select-option value="56">56</ion-select-option>
                <ion-select-option value="57">57</ion-select-option>
                <ion-select-option value="58">58</ion-select-option>
                <ion-select-option value="59">59</ion-select-option>
                <ion-select-option value="60">60</ion-select-option>
                <ion-select-option value="61">61</ion-select-option>
                <ion-select-option value="62">62</ion-select-option>
                <ion-select-option value="63">63</ion-select-option>
                <ion-select-option value="64">64</ion-select-option>
                <ion-select-option value="65">65</ion-select-option>
                <ion-select-option value="66">66</ion-select-option>
                <ion-select-option value="67">67</ion-select-option>
                <ion-select-option value="68">68</ion-select-option>
                <ion-select-option value="69">69</ion-select-option>
                <ion-select-option value="70">70</ion-select-option>
                <ion-select-option value="71">71</ion-select-option>
                <ion-select-option value="72">72</ion-select-option>
                <ion-select-option value="73">73</ion-select-option>
                <ion-select-option value="74">74</ion-select-option>
                <ion-select-option value="75">75</ion-select-option>
                <ion-select-option value="76">76</ion-select-option>
                <ion-select-option value="77">77</ion-select-option>
                <ion-select-option value="78">78</ion-select-option>
                <ion-select-option value="79">79</ion-select-option>
                <ion-select-option value="80">80</ion-select-option>
                <ion-select-option value="81">71</ion-select-option>
                <ion-select-option value="82">82</ion-select-option>
                <ion-select-option value="83">83</ion-select-option>
                <ion-select-option value="84">84</ion-select-option>
                <ion-select-option value="85">85</ion-select-option>
                <ion-select-option value="86">86</ion-select-option>
                <ion-select-option value="87">87</ion-select-option>
                <ion-select-option value="88">88</ion-select-option>
                <ion-select-option value="89">85</ion-select-option>
                <ion-select-option value="90">90</ion-select-option>
                <ion-select-option value="91">91</ion-select-option>
                <ion-select-option value="92">92</ion-select-option>
                <ion-select-option value="93">93</ion-select-option>
                <ion-select-option value="94">94</ion-select-option>
                <ion-select-option value="95">95</ion-select-option>
                <ion-select-option value="96">96</ion-select-option>
                <ion-select-option value="97">97</ion-select-option>
                <ion-select-option value="98">98</ion-select-option>
                <ion-select-option value="99">99</ion-select-option>
                <ion-select-option value="100">100</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Peso</ion-label>
            <ion-select value="Masculino" interface="action-sheet" cancelText="Cancelar">
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>
                <ion-select-option value="3">3</ion-select-option>
                <ion-select-option value="4">4</ion-select-option>
                <ion-select-option value="5">5</ion-select-option>
                <ion-select-option value="6">6</ion-select-option>
                <ion-select-option value="7">7</ion-select-option>
                <ion-select-option value="8">8</ion-select-option>
                <ion-select-option value="9">9</ion-select-option>
                <ion-select-option value="10">10</ion-select-option>
                <ion-select-option value="11">11</ion-select-option>
                <ion-select-option value="12">12</ion-select-option>
                <ion-select-option value="13">13</ion-select-option>
                <ion-select-option value="14">14</ion-select-option>
                <ion-select-option value="15">15</ion-select-option>
                <ion-select-option value="16">16</ion-select-option>
                <ion-select-option value="17">17</ion-select-option>
                <ion-select-option value="18">18</ion-select-option>
                <ion-select-option value="19">19</ion-select-option>
                <ion-select-option value="20">20</ion-select-option>
                <ion-select-option value="21">21</ion-select-option>
                <ion-select-option value="22">22</ion-select-option>
                <ion-select-option value="23">23</ion-select-option>
                <ion-select-option value="24">24</ion-select-option>
                <ion-select-option value="25">25</ion-select-option>
                <ion-select-option value="26">26</ion-select-option>
                <ion-select-option value="27">27</ion-select-option>
                <ion-select-option value="28">28</ion-select-option>
                <ion-select-option value="29">29</ion-select-option>
                <ion-select-option value="30">30</ion-select-option>
                <ion-select-option value="31">31</ion-select-option>
                <ion-select-option value="32">32</ion-select-option>
                <ion-select-option value="33">33</ion-select-option>
                <ion-select-option value="34">34</ion-select-option>
                <ion-select-option value="35">35</ion-select-option>
                <ion-select-option value="36">36</ion-select-option>
                <ion-select-option value="37">37</ion-select-option>
                <ion-select-option value="38">38</ion-select-option>
                <ion-select-option value="39">35</ion-select-option>
                <ion-select-option value="40">40</ion-select-option>
                <ion-select-option value="41">41</ion-select-option>
                <ion-select-option value="42">42</ion-select-option>
                <ion-select-option value="43">43</ion-select-option>
                <ion-select-option value="44">44</ion-select-option>
                <ion-select-option value="45">45</ion-select-option>
                <ion-select-option value="46">46</ion-select-option>
                <ion-select-option value="47">47</ion-select-option>
                <ion-select-option value="48">48</ion-select-option>
                <ion-select-option value="49">45</ion-select-option>
                <ion-select-option value="50">50</ion-select-option>
                <ion-select-option value="51">51</ion-select-option>
                <ion-select-option value="52">52</ion-select-option>
                <ion-select-option value="53">53</ion-select-option>
                <ion-select-option value="54">54</ion-select-option>
                <ion-select-option value="55">55</ion-select-option>
                <ion-select-option value="56">56</ion-select-option>
                <ion-select-option value="57">57</ion-select-option>
                <ion-select-option value="58">58</ion-select-option>
                <ion-select-option value="59">59</ion-select-option>
                <ion-select-option value="60">60</ion-select-option>
                <ion-select-option value="61">61</ion-select-option>
                <ion-select-option value="62">62</ion-select-option>
                <ion-select-option value="63">63</ion-select-option>
                <ion-select-option value="64">64</ion-select-option>
                <ion-select-option value="65">65</ion-select-option>
                <ion-select-option value="66">66</ion-select-option>
                <ion-select-option value="67">67</ion-select-option>
                <ion-select-option value="68">68</ion-select-option>
                <ion-select-option value="69">69</ion-select-option>
                <ion-select-option value="70">70</ion-select-option>
                <ion-select-option value="71">71</ion-select-option>
                <ion-select-option value="72">72</ion-select-option>
                <ion-select-option value="73">73</ion-select-option>
                <ion-select-option value="74">74</ion-select-option>
                <ion-select-option value="75">75</ion-select-option>
                <ion-select-option value="76">76</ion-select-option>
                <ion-select-option value="77">77</ion-select-option>
                <ion-select-option value="78">78</ion-select-option>
                <ion-select-option value="79">79</ion-select-option>
                <ion-select-option value="80">80</ion-select-option>
                <ion-select-option value="81">71</ion-select-option>
                <ion-select-option value="82">82</ion-select-option>
                <ion-select-option value="83">83</ion-select-option>
                <ion-select-option value="84">84</ion-select-option>
                <ion-select-option value="85">85</ion-select-option>
                <ion-select-option value="86">86</ion-select-option>
                <ion-select-option value="87">87</ion-select-option>
                <ion-select-option value="88">88</ion-select-option>
                <ion-select-option value="89">85</ion-select-option>
                <ion-select-option value="90">90</ion-select-option>
                <ion-select-option value="91">91</ion-select-option>
                <ion-select-option value="92">92</ion-select-option>
                <ion-select-option value="93">93</ion-select-option>
                <ion-select-option value="94">94</ion-select-option>
                <ion-select-option value="95">95</ion-select-option>
                <ion-select-option value="96">96</ion-select-option>
                <ion-select-option value="97">97</ion-select-option>
                <ion-select-option value="98">98</ion-select-option>
                <ion-select-option value="99">99</ion-select-option>
                <ion-select-option value="100">100</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Creatinina</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Alergia penicilina</ion-label>
            <ion-toggle checked="false"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Hemodialisis</ion-label>
            <ion-toggle checked="false"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>CAPD</ion-label>
            <ion-toggle checked="false"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>CRRT</ion-label>
            <ion-toggle checked="false"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Ubicación infección</ion-label>
            <ion-button color="select" (click)="presentModal()">{{dataReturned}}</ion-button>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Depuración creatinina</ion-label>
            <ion-input></ion-input>
        </ion-item>
    </ion-list>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button (click)="continue()" expand="block" color="vibrant">Continuar</ion-button>
            </ion-col>

        </ion-row>
    </ion-grid>


</ion-content>