<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            General
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-list>
        <ion-item>
            <ion-label>Sexo</ion-label>
            <ion-select interface="popover" cancelText="Cancelar">
                <ion-select-option value="Masculino">Masculino</ion-select-option>
                <ion-select-option value="Femenino">Femenino</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Edad</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Peso</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Creatinina</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Alergia penicilina</ion-label>
            <ion-toggle checked="false"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Hemodialisis</ion-label>
            <ion-toggle checked="false"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>CAPD</ion-label>
            <ion-toggle checked="false"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>CRRT</ion-label>
            <ion-toggle checked="false"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Ubicación infección</ion-label>
            <ion-button color="select" (click)="presentModal()">{{dataReturned}}</ion-button>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Depuración creatinina</ion-label>
            <ion-input></ion-input>
        </ion-item>
    </ion-list>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button (click)="continue()" expand="block" color="vibrant">Continuar</ion-button>
            </ion-col>

        </ion-row>
    </ion-grid>

</ion-content>