<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Listado bacterias</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="fontprincipal">
    <ion-list>
        <ion-radio-group>
            <ion-list-header>
                <ion-label class="fonttitle">Listado de bacterias</ion-label>
            </ion-list-header>

            <ion-item ion-item *ngFor="let item of bacteriumsList" (click)="itemSelected(item)">
                <ion-label>{{ item.nombre }}</ion-label>
                <ion-radio slot="start" value="{{ item.id }}"></ion-radio>
            </ion-item>

        </ion-radio-group>
    </ion-list>

</ion-content>