<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Acerca de</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-text-justify" padding>
        <br /> Esta es una aplicación elaborada por la Fundación Antioqueña de Infectología, basada en guías locales e internacionales, para la adecuada interpretación del antibiograma y la correcta formulación de antibióticos, que busca de forma secundaria
        racionalizar el uso de antibióticos y disminuir las tasas de resistencia.
        <br /><br /> Supone del operador un mínimo de conocimiento en Microbiología y Farmacología, y depende fundamentalmente de la correcta alimentación del sistema con los datos que proporciona el sistema automatizado (antibiograma en físico). Es una
        aplicación diseñada para su uso en el día a día, en población adulta, infecciones de todo tipo, y que puede ser utilizada por cualquier personal médico y paramédico que este autorizado para formular antibióticos. No es una aplicación pensada para
        su uso en gérmenes multidrogo-resistentes, ni busca reemplazar el papel del Infectólogo o el Microbiólogo, sino que esta pensada para ser un buen complemento a utilizar en sitios donde este recurso es escaso.

    </div>
</ion-content>