<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
        </ion-buttons>
        <ion-title>
            Antibióticos:
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>Clindamycin:</ion-label>

        </ion-item>

        <ion-item>
            <ion-select value="1" interface="action-sheet" cancelText="Cancelar">
                <ion-select-option value="1">&#60;&#61;</ion-select-option>
                <ion-select-option value="2">&#61;</ion-select-option>
                <ion-select-option value="3">&#62;&#61;</ion-select-option>
            </ion-select>
            <ion-input class="inputcolor"></ion-input>
        </ion-item>


        <ion-item>
            <ion-label>Erythromycin:</ion-label>
        </ion-item>

        <ion-item>
            <ion-select value="1" interface="action-sheet" cancelText="Cancelar">
                <ion-select-option value="1">&#60;&#61;</ion-select-option>
                <ion-select-option value="2">&#61;</ion-select-option>
                <ion-select-option value="3">&#62;&#61;</ion-select-option>
            </ion-select>
            <ion-input class="inputcolor"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Gentamicin:</ion-label>

        </ion-item>

        <ion-item>
            <ion-select value="1" interface="action-sheet" cancelText="Cancelar">
                <ion-select-option value="1">&#60;&#61;</ion-select-option>
                <ion-select-option value="2">&#61;</ion-select-option>
                <ion-select-option value="3">&#62;&#61;</ion-select-option>
            </ion-select>
            <ion-input class="inputcolor"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Linezolid:</ion-label>

        </ion-item>

        <ion-item>
            <ion-select value="1" interface="action-sheet" cancelText="Cancelar">
                <ion-select-option value="1">&#60;&#61;</ion-select-option>
                <ion-select-option value="2">&#61;</ion-select-option>
                <ion-select-option value="3">&#62;&#61;</ion-select-option>
            </ion-select>
            <ion-input class="inputcolor"></ion-input>
        </ion-item>


        <ion-item>
            <ion-label>Oxacillin:</ion-label>
        </ion-item>

        <ion-item>
            <ion-select value="1" interface="action-sheet" cancelText="Cancelar">
                <ion-select-option value="1">&#60;&#61;</ion-select-option>
                <ion-select-option value="2">&#61;</ion-select-option>
                <ion-select-option value="3">&#62;&#61;</ion-select-option>
            </ion-select>
            <ion-input class="inputcolor"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Rifampicin:</ion-label>

        </ion-item>

        <ion-item>
            <ion-select value="1" interface="action-sheet" cancelText="Cancelar">
                <ion-select-option value="1">&#60;&#61;</ion-select-option>
                <ion-select-option value="2">&#61;</ion-select-option>
                <ion-select-option value="3">&#62;&#61;</ion-select-option>
            </ion-select>
            <ion-input class="inputcolor"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Tetracycline:</ion-label>

        </ion-item>

        <ion-item>
            <ion-select value="1" interface="action-sheet" cancelText="Cancelar">
                <ion-select-option value="1">&#60;&#61;</ion-select-option>
                <ion-select-option value="2">&#61;</ion-select-option>
                <ion-select-option value="3">&#62;&#61;</ion-select-option>
            </ion-select>
            <ion-input class="inputcolor"></ion-input>
        </ion-item>


        <ion-item>
            <ion-label>Trimethoprim/Sulfa:</ion-label>
        </ion-item>

        <ion-item>
            <ion-select value="1" interface="action-sheet" cancelText="Cancelar">
                <ion-select-option value="1">&#60;&#61;</ion-select-option>
                <ion-select-option value="2">&#61;</ion-select-option>
                <ion-select-option value="3">&#62;&#61;</ion-select-option>
            </ion-select>
            <ion-input class="inputcolor"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Vancomycin:</ion-label>

        </ion-item>

        <ion-item>
            <ion-select value="1" interface="action-sheet" cancelText="Cancelar">
                <ion-select-option value="1">&#60;&#61;</ion-select-option>
                <ion-select-option value="2">&#61;</ion-select-option>
                <ion-select-option value="3">&#62;&#61;</ion-select-option>
            </ion-select>
            <ion-input class="inputcolor"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Nitrofurantoin:</ion-label>

        </ion-item>

        <ion-item>
            <ion-select value="1" interface="action-sheet" cancelText="Cancelar">
                <ion-select-option value="1">&#60;&#61;</ion-select-option>
                <ion-select-option value="2">&#61;</ion-select-option>
                <ion-select-option value="3">&#62;&#61;</ion-select-option>
            </ion-select>
            <ion-input class="inputcolor"></ion-input>
        </ion-item>


        <ion-item>
            <ion-label>Daptomycin:</ion-label>
        </ion-item>

        <ion-item>
            <ion-select value="1" interface="action-sheet" cancelText="Cancelar">
                <ion-select-option value="1">&#60;&#61;</ion-select-option>
                <ion-select-option value="2">&#61;</ion-select-option>
                <ion-select-option value="3">&#62;&#61;</ion-select-option>
            </ion-select>
            <ion-input class="inputcolor"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Rifampicin:</ion-label>

        </ion-item>

        <ion-item>
            <ion-select value="1" interface="action-sheet" cancelText="Cancelar">
                <ion-select-option value="1">&#60;&#61;</ion-select-option>
                <ion-select-option value="2">&#61;</ion-select-option>
                <ion-select-option value="3">&#62;&#61;</ion-select-option>
            </ion-select>
            <ion-input class="inputcolor"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Resist.inducible a Clindamycin</ion-label>
            <ion-toggle checked="false"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Cefoxitin Screen</ion-label>
            <ion-toggle checked="false"></ion-toggle>
        </ion-item>


    </ion-list>

    <ion-grid text-center>
        <ion-row>
            <ion-col>
                <ion-button (click)="continue()" color="select">Calcular</ion-button>
                <ion-button (click)="comeBack()" color="select">Regresar</ion-button>
            </ion-col>

        </ion-row>
    </ion-grid>

</ion-content>