.enterCodeBackground {
    background: #f2f2f2;
    font-size: 24pt;
}

ion-content {
    --ion-background-color: rgb(241, 238, 246);
}

.tableblank {
    background-color: #ffffff;
}

.ion-color-vibrant {
    --ion-color-base: #61abe6;
    --ion-color-base-rgb: rgb(97, 171, 230);
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: rgb(97, 171, 230);
    --ion-color-shade: #f2863f;
    --ion-color-tint: #f2863f;
}

.colortext1 {
    color: #f2863f;
}

.colortext2 {
    color: #a0a3a5;
}

.colortext3 {
    font-size: 18px;
}