<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
        </ion-buttons>
        <ion-title>
            Resumen
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="cardcolor">

        <ion-card-content>
            <div>
                <ion-label class="LabelTitle1"><b>Resultado del análisis</b></ion-label>
            </div>
            <div>
                <ion-label><b>Bacteria: </b></ion-label>
                <ion-label class="labelcolor2">{{ textDescription }}</ion-label>
            </div>
            <div>
                <ion-label><b>Órgano: &nbsp;&nbsp;</b></ion-label>
                <ion-label class="labelcolor2">{{bodyName }}</ion-label>
            </div>

            <ul>
                <li *ngFor="let item of lists">{{ item.mensaje }}</li>
            </ul>

            <ion-grid>
                <ion-row>
                    <ion-label>Recomendaciones del tratamiento:</ion-label>
                    <br /><br />
                </ion-row>
                <ion-row *ngFor="let item of listsDosis">
                    <div>
                        <ion-label class="labelcolor1"> {{ item.comentariosTratamiento }}: </ion-label>
                    </div>
                    <div>
                        {{ item.mensaje }}
                    </div>
                    <div>
                        <br /> &nbsp;&nbsp;
                    </div>
                </ion-row>
            </ion-grid>

        </ion-card-content>
    </ion-card>

    <ion-grid text-center>
        <ion-row>
            <ion-col>
                <ion-button (click)="finish()" color="vibrant">Finalizar</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>