<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
        </ion-buttons>
        <ion-title>
            Resumen
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="cardcolor">

        <ion-card-content>
            <div>
                <ion-label class="LabelTitle1"><b>Resultado del análisis</b></ion-label>
            </div>
            <div>
                <ion-label><b>Bacteria: </b></ion-label>
                <ion-label class="labelcolor2">{{ textDescription }}</ion-label>
            </div>
            <div>
                <ion-label><b>Órgano: &nbsp;&nbsp;</b></ion-label>
                <ion-label class="labelcolor2">{{bodyName }}</ion-label>
            </div>

            <ul>
                <li *ngFor="let item of lists; let i=index;">{{ item.mensaje }}</li>
            </ul>

            <ion-grid>
                <ion-row>
                    <ion-label *ngIf="listsDosis.length>0">Recomendaciones del tratamiento:</ion-label>
                    <br /><br />
                </ion-row>

                <ion-row *ngFor="let item of listsDosis; let i = index;">
                    <table>
                        <tr>
                            <td>
                                <ion-label class="labelcolor1">Opción {{i + 1}}: {{ item.comentariosTratamiento }}</ion-label>
                            </td>
                        </tr>
                        <tr>
                            <td>{{ item.mensaje }}</td>
                        </tr>
                        <tr>
                            &nbsp;
                        </tr>
                    </table>
                </ion-row>

            </ion-grid>

        </ion-card-content>
    </ion-card>

    <ion-grid text-center>
        <ion-row>

            <ion-col *ngIf="countMsgTest > 0 ; else Finalizar">
                <ion-button (click)="comeBack()" color="vibrant">Continuar</ion-button>
            </ion-col>

            <ng-template #Finalizar>
                <ion-col>
                    <ion-button (click)="finish()" color="vibrant">Finalizar</ion-button>
                </ion-col>
            </ng-template>

        </ion-row>
    </ion-grid>

</ion-content>