<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">

        </ion-buttons>
        <ion-title>
            Selección infección:
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">

    <div class="fixed" scrollx="true">
        <div>
            <table class="bodyTable" style="background-image: url(../../assets/body.svg);">
                <tr>
                    <td class="trCss" (click)="selectRegion('Sistema nervioso')">
                        &nbsp;
                    </td>
                    <td class="trCss" (click)="selectRegion('Boca, senos, paranasales y cuello')">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td class="trCss" (click)="selectRegion('Pulmones y vía aérea')">
                        &nbsp;
                    </td>
                    <td class="trCss">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td class="trCss" (click)="selectRegion('Abdomen')">
                        &nbsp;
                    </td>
                    <td class="trCss" (click)="selectRegion('Prostata')">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td class="trCss" (click)="selectRegion('Tracto genito urinario')">
                        &nbsp;
                    </td>
                    <td class="trCss" (click)="selectRegion('Tejidos blandos')">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td class="trCss" (click)="selectRegion('Huesos')">
                        &nbsp;
                    </td>
                    <td class="trCss" (click)="selectRegion('Sangre')">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td class="trCss">
                        &nbsp;
                    </td>
                    <td class="trCss">
                        &nbsp;
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <br /><br />
    <br /><br />
</ion-content>