ion-content {
    --ion-background-color: rgb(241, 238, 246);
}

.ion-color-select {
    --ion-color-base: #f2863f;
    --ion-color-base-rgb: rgb(97, 171, 230);
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: rgb(97, 171, 230);
    --ion-color-shade: #f2863f;
    --ion-color-tint: #f2863f;
}

.divider {
    background-color: #ffffff;
}

.inputcolor {
    background-color: #faf6f6;
}

.sizeoperator {
    min-width: 70%;
    font-size: 16px;
}

ion-col.col1-thin-col {
    // flex: 0 0 4px;
    // padding: 0;
    // margin-right: 10px;
    background-color: rgb(190, 248, 252);
}

em,
i {
    font-style: italic;
}