<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Inicio
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <section>
        <div text-center class="home-container">
            <div class="col">
                <h1 class="text-white text-center colortext1">Apptibiograma</h1>
            </div>
            <ion-avatar class="avatar">
                <img src="/assets/logoapp.png">
            </ion-avatar>

            <br />
            <label class="colortext2"> Antes de comenzar por favor lea los terminos y condiciones. </label>
            <label class="colortext1" (click)="showLegalText()"> Si continúa, estaría<br />aceptando los términos.</label>
            <br />
            <br />

            <ion-button color="vibrant" (click)="presentModal()">Comencemos!</ion-button>
        </div>
    </section>
</ion-content>